/* Navbar  */

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Apply styles to the header and navigation container */
  header {
    background-color: #026c81;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 1px 8px #1b8598;
    height: 70px;
}
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Apply styles to the logo */
  .logo {
    font-size: 1.5rem;
  }
  
  .logo a {
    font-size: 2rem;
    text-decoration: none;
    color: #fff; 
    font-weight: 600;
  }
  
  /* Apply styles to the navigation menu */
  nav ul {
    list-style: none;
    display: flex;
    margin: 0px -133px;
  }
  
  nav ul li {
    padding: 8px 0px;
    margin: 21px 10px;
    border: 1px solid black;
    background: #50a2b4;
    border-radius: 11px;
  }

   nav ul li:hover{
    background-color: #1b8598;
   }
  /* Apply styles to NavLink */
  nav ul li a {
    text-decoration: none;
    color: #fff;
    /* font-weight: bold; */
    transition: color 0.3s ease;
    font-size: 17px;
    padding: 1px 20px;
  }
  
  /* Change color on hover */
  nav ul li a:hover {
    color: #ecf0f1; 
  }
  

/* HomePage */


.upload-container {
    max-width: 50%;
    border: 2px dashed black;
    padding: 16px;
    margin: 204px auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .upload-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    font-size: 30px;

  }
  
  .upload-input {
    display: none;
  }
  
  .upload-icon {
    margin-right: 8px;
  }
  
  .selected-file {
    display: flex;
    align-items: center;
    margin-top: 16px;
    justify-content: center;
  }
  
  .file-icon {
    margin-right: 8px;
  }
  
  .delete-icon {
    cursor: pointer;
    color: #e74c3c; /* Red color for delete icon */
  }
  
  .image-preview {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
  }
  
  .image-preview img {
    max-width: 100%;
    max-height: 100%;
  }




/* LoginPage */
.login-container {
  max-width: 400px;
  margin: 135px auto;
  padding: 20px;
}



.PneumoAI-text {
  text-align: center;
  margin-bottom: 2px;
  font-size: 60px;
  text-shadow: 2px 2px 2px #914140;
  color: #000000;
  font-weight: 900;
  font-family: cursive;
}

input {
  width: 92%;
  padding: 10px;
  margin: 6px 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.semi-bold-text{
  text-align: center;
  margin-top: 10px;
  font-size: 23px;
  font-weight: 600;
}
.password-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  color: black;
}




.google-icon-button{
  display: block;
  width: 100%;
  padding: 4px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 7px;
  cursor: pointer;
  font-size: 17px;
  height: 42px;
  color: black;
  background: white;
}
.google-icon-button:hover{
  background-color: #ddd;
}





.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

  
button{
  display: block;
  width: 20%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #130215;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 7px auto;
  
}

.create-account-div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.create-account-text{
  color: black;
    margin: 0px 5px;
}

.facebook-icon-button svg{
  margin: -3px 5px;
 }

.google-icon-button svg{
  margin: -3px 5px;
}

p{
  text-align: center;
  margin: 7px;
}

/* ForgotPasswordPage */
.forgotPassword-container{
  max-width: 50%;
  margin: 236px auto;
}



.Enter-email-text{
  text-align: center;
    padding: 18px 8px;
}

form{
  display: flex;
    align-items: center;
    justify-content: center;
}
.email-input{
  width: 39%;
  padding: 10px;
  margin: 10px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}



.send-button{
  display: block;
  width: 20%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #130215;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px auto;
}

/* Registered page */
img{
  margin: 4px 124px;
}

.Registered-button{
  display: block;
  width: 50%;
  padding: 12px;
  margin-bottom: 10px;
  background-color: #130215;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
}

a{
  text-decoration: none;
}