body{
  background-color: #135db5e8;
}


h1{
  margin: 30px 17px;
  font-size: 140px;
  color: white;
  text-shadow: 2px 7px 6px black;
    
}

div.heading{
  position: absolute;
  right: 37px;
  top: -50px;
}

button{
  position: absolute;
  right: 23px;
  top: 145px;
  border: 2px solid black;
  padding: 9px 47px;
  margin: 14px 37px;
  border-radius: 16px;
  background-color: #84aae7;
  box-shadow: 2px 3px 8px;
  font-size: 24px;
  font-weight: bold;
}

img{
  width: 729px;
    margin: 112px 220px;
}